<p id="notice" class="main">Book was successfully created.</p>

<p class="main"><span class="show">Title: </span><%= @book.title %></p>
<p class="main"><span class="show">Body: </span><%= @book.body %></p>
  